<form action="/acm/mail" method="post" class="form">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-home"></i></span>
                <input class="span2" id="page" name="page" value="<%=@ref%>" type="text" placeholder="Acm Webpage" style="width:400px;"> (acm only)
            </div>
            <div class="input-prepend">
                <span class="add-on"><i class='icon-envelope' ></i></span>
                <input class="span2" id="email" name="email" value='<%=@email%>' type="text" placeholder="Email" style="width:400px;"> &nbsp;                <input type="submit" class="btn" value="確定" style="margin-left:30px;" />
            </div>
        </form>
