            <div class="input-prepend">
                <span class="add-on"><i class="icon-search"></i></span>
                <input class="span2"  value="" type="text" placeholder="" style="width:400px;" id="searchInput">
                <input type="button" value="Search" class="btn" id="searchBtn"></input>
            </div>
            <div id="searchResult"></div>
